/* Color Scheme */
/* Light: Tokyo Night Light. Dark: Tokyo Night Storm.
   https://github.com/tokyo-night/tokyo-night-vscode-theme */

:root {
  --brand-color: #2959aa;
  --brand-highlight: rgba(41, 89, 170, .22);
  --white: #fff;
  --light-gray: #d6d8df;
  --light-blue: #c1c2c7;
  --blue-gray: #6c6e75;
  --gray: #6c6e75;
  --dark: #343b58;
  --dark-blue: #363c4d;

  --background-color: var(--white);
  --background-alt-color: #d6d8df;

  --text-color: var(--dark);
  --text-alt-color: var(--gray);

  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--brand-color);

  --on-brand-color: var(--white);
  --button-color: var(--on-brand-color);
  --button-background-color: var(--brand-color);
  --button-background-hover: #34548a;

  --border-color: #c1c2c7;
  --border-color-alt: #d6d8df;

  --th-color: #d6d8df;
  --tr-color: #dcdee4;

  --callout-note: #d3dbea;
  --callout-tip: #d4e0de;
  --callout-important: #dcd5e8;
  --callout-warning: #e6ded2;
  --callout-caution: #e6d6da;

  --syntax-highlighting-background: #d6d8df;

  --code-comment: #888b94;
  --code-keyword: #65359d;
  --code-string: #385f0d;
  --code-number: #965027;
  --code-function: #2959aa;
  --code-type: #006c86;
  --code-variable: #343b58;
  --code-tag: #8c4351;
  --code-regex: #0f4b6e;
  --code-error: #942f2f;
}

:root[dark] {
  --brand-color: #7aa2f7;
  --brand-highlight: rgba(122, 162, 247, .3);
  --white: #fff;
  --light-gray: #c0caf5;
  --gray: #737aa2;
  --dark: #24283b;

  --background-color: var(--dark);
  --background-alt-color: #1f2335;

  --text-color: #a9b1d6;
  --text-alt-color: var(--gray);

  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--brand-color);

  --on-brand-color: #1f2335;
  --button-color: var(--on-brand-color);
  --button-background-color: var(--brand-color);
  --button-background-hover: #7dcfff;

  --border-color: #292e42;
  --border-color-alt: #1b1e2e;

  --th-color: #1f2335;
  --tr-color: #292e42;

  --callout-note: #2b3556;
  --callout-tip: #2c3a3d;
  --callout-important: #333457;
  --callout-warning: #3a3a44;
  --callout-caution: #3b3149;

  --syntax-highlighting-background: #1f2335;

  --code-comment: #5f6996;
  --code-keyword: #bb9af7;
  --code-string: #9ece6a;
  --code-number: #ff9e64;
  --code-function: #7aa2f7;
  --code-type: #2ac3de;
  --code-variable: #c0caf5;
  --code-tag: #f7768e;
  --code-regex: #b4f9f8;
  --code-error: #db4b4b;
}
